*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --brand-olive: #978A3C;     
  --brand-clay: #A53C20;      
  --brand-amber: #E8781E;     
  --brand-sun: #E9DD5D;       
  --brand-rose: #FC8EAE;     
  --brand-cream: #FFE3CC;    
  --text-normal: #ece8e8;
  --text-dark: #170101;

}
